<div class="container">
  <mat-card align="center"
    ><h1 class="text-center">Personal Details</h1>
    <form
      class="example-form"
      [formGroup]="bioSection"
      (ngSubmit)="callingFunction()"
    >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. sujin" formControlName="firstname" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>last Name</mat-label>
        <input matInput placeholder="Ex. s" formControlName="lastname" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Ex. 12" formControlName="age" />
      </mat-form-field>

      <button mat-raised-button color="accent" [disabled]="!bioSection.valid">
        Submit
      </button>
      <button type="button" mat-raised-button (click)="getdetails()">
        Get Details
      </button>
    </form>
  </mat-card>
</div>
