<!-- <mat-card>
  <div class="container">
    <table class="table-bordered table-responsive table table-dark">
      <thead class="table">
        <tr class="text-center">
          <th>S.No</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table">
        
        <tr *ngFor="let input of form2; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ input.firstname }}</td>
          <td>{{ input.lastname }}</td>
          <td>{{ input.age }}</td>
          <td class="text-center">
            <button mat-raised-button color="warn" (click)="onDelete(input.id)">
              DELETE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card> -->
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>FirstName</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>LastName</th>
      <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef >Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="onDelete(element.id)">
          Delete
        </button>
      </td>
    </ng-container>
  </table>
</div>
